.franshise {
    padding: 150px 0;
    height: 100dvh;
    display: flex;
    justify-content: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 60%;
    }

    &__title {
        font-size: 60px;
        text-align: center;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 60px;
        text-align: center;
        font-weight: 400;
        margin: 0;
    }
}

@media (max-width: 1600px) {
    .franshise {
        &__wrapper {
            width: 70%;
        }


    }
}

@media (max-width: 1400px) {
    .franshise {
        &__wrapper {
            width: 70%;
        }


    }
}

@media (max-width: 1200px) {
    .franshise {
        &__wrapper {
            width: 90%;
        }


    }
}

@media (max-width: 1023px) {
    .franshise {
        padding: 150px 0;

        &__wrapper {

            width: 80%;
        }

        &__title {
            font-size: 40px;

        }

        &__subtitle {
            font-size: 40px;

        }
    }
}



@media (max-width: 568px) {
    .franshise {
        &__wrapper {
            width: 100%;
            padding: 0 15px;
        }
    }
}