.record {
    width: 100%;
    height: auto;
    padding: 60px 0;

    @media (max-width: 1200px) {
        padding: 50px 0;
    }

    @media (max-width: 768px) {
        padding: 40px;
    }

    @media (max-width: 480px) {
        margin-top: 65px;
        padding: 30px 10px;
    }

    &__title {
        margin: 0 !important;
        text-transform: uppercase;
        color: #D3101F;
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        padding-bottom: 50px;

        @media (max-width: 1200px) {
            font-size: 42px;
            padding-bottom: 40px;
        }

        @media (max-width: 992px) {
            font-size: 36px;
            padding-bottom: 35px;
        }

        @media (max-width: 768px) {
            font-size: 32px;
            padding-bottom: 30px;
        }

        @media (max-width: 480px) {
            font-size: 28px;
            padding-bottom: 25px;
        }

        @media (max-width: 360px) {
            font-size: 24px;
            padding-bottom: 20px;
        }
    }
}