@import "./fonts/fonts.scss";

:root {
  --primary-color-text: #fff;
  --primary-color-link: #fff;
  --burger-line-color: #fff;

  --background-color: #000000;
  --background-color-menu-mobail: #1a1c20;
  --background-color-preloader: #464646;
  --background-color-reservation-form: #191a1d;

  --line-color: #fff;
}

html {
  scroll-snap-type: y mandatory;
  scrollbar-width: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0
}


body {
  margin: 0;
  background: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: "Manrope", sans-serif;
  color: var(--primary-color-text);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #272727;
  border-radius: 0;
}

body::-webkit-scrollbar-thumb {
  background: #F91527;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #bb101e;
}

a {
  text-decoration: none;
}