.certificate {
    height: auto;
    padding: 100px 75px;

    &__title {
        text-transform: uppercase;
        text-align: left;
        color: #F91527;
        font-size: 40px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &_info {
            width: 35%;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            padding-top: 50px;
            border-top: 1px solid #242424;

            &-block {
                display: flex;
                flex-direction: column;

                &_quesition {
                    margin-top: 16px;
                    cursor: pointer;
                }

                &_title {
                    font-size: 20px;
                    font-weight: 400;
                    color: rgb(160, 160, 160);
                    margin: 0 !important;
                }

                &_descr {
                    font-size: 24px;
                    color: #fff;
                    font-weight: 800;
                    margin: 0 !important;
                    padding-top: 10px;
                }
            }

            &-list {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                padding-bottom: 50px;
                border-bottom: 1px solid #242424;

                &_title {
                    font-size: 20px;
                    font-weight: 400;
                    color: rgb(160, 160, 160);
                    margin: 0 !important;
                }

                &_item {
                    position: relative;
                    font-size: 24px;
                    color: #fff;
                    font-weight: 700;
                    margin-top: 15px;
                    padding-left: 30px;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: #fff;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                    }
                }
            }

            &-text {
                font-size: 20px;
                font-weight: 300;
                color: rgb(201, 201, 201);
                margin: 0 !important;
                line-height: 180%;
            }

            &-btn {
                width: clamp(180px, 49%, 300px);
                height: clamp(50px, 6vw, 87px);
                min-width: 160px;
                max-width: 100%;
                font-size: 14px;
                padding: 0 !important;
            }
        }

        &_slider {
            width: 55%;
            position: relative;
            display: flex;
            align-items: center;

            &-arrow {
                position: absolute;
                z-index: 5;
                width: 20px;
                height: 20px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 0.7;
                }
            }

            .left {
                left: 35px;
            }

            .right {
                right: 35px;
            }

            .swiper {
                width: 100%;
                height: auto;

                &-wrapper {
                    display: flex;
                    align-items: center;
                }

                &-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s ease;

                    &.swiper-slide-active {
                        transform: scale(1.05);
                    }
                }
            }

            .slide-image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                object-fit: contain;
                border-radius: 10px;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
                transition: transform 0.3s ease;
            }
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 14px;

        &-link {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 18px;
            text-decoration: none;
            transition: all .4s ease-in-out;

            &:hover {
                color: #d3101f;
            }
        }

        &-separator {
            color: #FFFFFF;
            font-size: 30px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            margin-top: -2px;
        }

        &-current {
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.3);
            cursor: pointer;
            transition: all .4s ease-in-out;

            &:hover {
                color: rgba(255, 255, 255, 0.641);
            }
        }
    }
}

@media (max-width: 1800px) {
    .certificate {
        &__wrapper {
            &_slider {
                .left {
                    left: 20px;
                }

                .right {
                    right: 20px;
                }
            }
        }
    }
}


@media (max-width: 1600px) {
    .certificate {
        &__wrapper {
            &_slider {
                margin-top: -45px;
                width: 50%;
            }

            &_info {
                &-btn {
                    width: clamp(180px, 49%, 300px);
                    height: clamp(50px, 6vw, 85px);
                }
            }
        }
    }
}

@media (max-width: 1540px) {
    .certificate {
        &__wrapper {
            &_slider {
                width: 52%;
            }

            &_info {
                &-btn {
                    width: clamp(170px, 60%, 280px);
                    height: clamp(48px, 5.5vw, 85px);
                    font-size: max(11px, min(1.3vw, 16px));
                    background-position: -10px;

                    p {
                        padding-right: 27px;
                    }

                }
            }
        }
    }
}


@media (max-width: 1400px) {
    .certificate {
        &__title {
            font-size: 42px;
            margin-bottom: 30px;
        }

        &__wrapper {
            align-items: flex-start;
            position: relative;

            &_info {
                width: 38%;
                row-gap: 55px;
                padding-top: 55px;


            }

            &_slider {
                width: 55%;
                margin-top: -30px;

                &-arrow {
                    width: 22px;
                    height: 22px;
                }

                .left {
                    left: 10px;
                }

                .right {
                    right: 10px;
                }

                .swiper-slide-active {
                    transform: scale(1.06);
                }

                img {
                    border-radius: 12px;
                    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
                }
            }
        }
    }
}

@media (max-width: 1399px) {
    .certificate {
        &__title {
            font-size: 36px;
        }

        &__wrapper {
            &_info {
                width: 40%;

                &-block {
                    &_descr {
                        font-size: 26px;
                    }
                }

                &-list {
                    &_item {
                        font-size: 20px;
                    }
                }

                &-text {
                    font-size: 18px;
                }

                &-btn {
                    width: clamp(170px, 60%, 280px);
                    height: clamp(48px, 5.5vw, 85px);
                    font-size: max(11px, min(1.3vw, 16px));
                    background-position: -10px;

                    p {
                        padding-right: 27px;
                    }

                }
            }

            &_slider {
                width: 55%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .certificate {
        &__title {
            font-size: 32px;
            text-align: center;
        }

        &__wrapper {
            flex-direction: column-reverse;
            gap: 60px;
            justify-content: center;
            align-items: center;

            &_info {
                width: 100%;
                row-gap: 40px;
                padding-top: 40px;

                &-block {
                    &_descr {
                        font-size: 24px;
                    }
                }

                &-btn {

                    background-position: center;

                    p {
                        padding: 0px !important;
                    }

                }

                &-list {
                    &_item {
                        font-size: 20px;
                    }
                }

                &-text {
                    font-size: 18px;
                }

                &-btn {
                    width: clamp(200px, 45%, 300px);
                    height: clamp(45px, 7vw, 80px);
                    align-self: center;
                }
            }

            &_slider {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;

                &-arrow {
                    display: none;
                }

                .swiper-slide-active {
                    transform: scale(1.03);
                }

                img {
                    max-width: 600px;
                }
            }
        }

        &__navigation {
            display: none;
            margin-top: 20px;
        }
    }
}

@media (max-width: 1100px) {
    .certificate {
        padding: 100px 30px;
    }
}



@media (max-width: 1024px) {
    .certificate {
        padding: 100px 30px;

        &__title {
            font-size: 32px;
        }

        &__wrapper {
            gap: 60px;
            justify-content: center;
            align-items: center;

            &_info {
                width: 100%;
                row-gap: 40px;
                padding-top: 40px;

                &-block {
                    &_descr {
                        font-size: 24px;
                    }
                }

                &-list {
                    &_item {
                        font-size: 20px;
                    }
                }

                &-text {
                    font-size: 18px;
                }

                &-btn {
                    width: clamp(180px, 70%, 280px);
                    height: clamp(42px, 10.8vw, 70px);
                    align-self: center;

                    p {
                        font-size: 16px;
                    }
                }
            }

            &_slider {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;
                margin-top: 0;

                &-arrow {
                    display: none;
                }

                .swiper-slide-active {
                    transform: scale(1.03);
                }

                img {
                    max-width: 600px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .certificate {
        padding: 80px 30px;

        &__title {
            font-size: 28px;
            margin-top: 50px;
            text-align: center;
        }

        &__wrapper {
            gap: 50px;

            &_info {
                row-gap: 35px;
                padding-top: 35px;

                &-block {
                    &_title {
                        margin-top: 40px;
                        font-size: 16px;
                    }

                    &_descr {
                        font-size: 22px;
                    }
                }

                &-list {
                    &_title {
                        font-size: 16px;
                    }

                    &_item {
                        font-size: 18px;
                        padding-left: 25px;

                        &::before {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }

                &-text {
                    font-size: 16px;
                }

                &-btn {
                    width: clamp(160px, 60%, 250px);
                    height: clamp(40px, 15.5vw, 90px);
                    font-size: clamp(13px, 1.1vw, 15px);
                }
            }

            &_slider {
                .swiper-slide-active {
                    transform: scale(1.02);
                }

                img {
                    max-width: 500px;
                    border-radius: 8px;
                }
            }
        }

        &__navigation {
            gap: 10px;
            display: none;

            &-link {
                font-size: 16px;
            }

            &-separator {
                font-size: 26px;
                margin-top: -1px;
            }

            &-current {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 576px) {
    .certificate {
        padding: 60px 25px;

        &__title {
            font-size: 24px;
        }

        &__wrapper {
            gap: 40px;

            &_info {
                row-gap: 30px;
                padding-top: 30px;

                &-block {
                    &_title {
                        font-size: 14px;
                    }

                    &_descr {
                        font-size: 20px;
                        padding-top: 8px;
                    }
                }

                &-list {
                    row-gap: 8px;
                    padding-bottom: 40px;

                    &_title {
                        font-size: 14px;
                    }

                    &_item {
                        font-size: 16px;
                        margin-top: 12px;
                        padding-left: 22px;

                        &::before {
                            width: 6px;
                            height: 6px;
                        }
                    }
                }

                &-text {
                    font-size: 14px;
                    line-height: 160%;
                }

                &-btn {
                    width: clamp(140px, 80%, 220px);
                    height: clamp(38px, 15.5vw, 55px);
                    font-size: clamp(12px, 1vw, 14px);

                    p {
                        font-size: 14px;
                    }
                }
            }

            &_slider {
                .swiper {
                    padding: 0 10px;
                }

                .swiper-slide-active {
                    transform: scale(1);
                }

                img {
                    max-width: 360px;
                    border-radius: 6px;
                    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .certificate {
        &__navigation {
            gap: 8px;
            display: none;

            &-link {
                font-size: 14px;
            }

            &-separator {
                font-size: 22px;
                margin-top: 0;
            }

            &-current {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 375px) {
    .certificate {
        padding: 40px 20px;

        &__title {
            font-size: 20px;
        }

        &__wrapper {
            gap: 30px;

            &_info {
                row-gap: 25px;

                &-block {
                    &_descr {
                        font-size: 18px;
                    }
                }

                &-list {
                    &_item {
                        font-size: 15px;
                    }
                }

                &-text {
                    font-size: 13px;
                }

                &-btn {
                    width: clamp(120px, 100%, 200px);
                    height: clamp(35px, 15.8vw, 50px);
                    font-size: clamp(11px, 0.9vw, 13px);

                    p {
                        font-size: 12px;
                    }
                }
            }

            &_slider {
                img {
                    max-width: 320px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .certificate {
        &__wrapper {
            &_info {
                &-btn {
                    width: 80%;
                    height: 70px;
                    font-size: 10px;
                }
            }

            &_slider {
                img {
                    max-width: 280px;
                }
            }
        }
    }
}