.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 86px 0 70px;
    background: linear-gradient(to top, #00000000, #000000c5);

    &__logo {
        z-index: 5;

        &-mobile {
            display: none;
        }
    }


    &__nav {
        display: flex;
        align-items: center;
        column-gap: 60px;

        &_locate {
            display: flex;
            align-items: center;
            column-gap: 10px;
            cursor: pointer;

            &-text {
                text-transform: uppercase;
                font-size: 18px;
                color: #fff;
            }
        }
    }

    &__list {
        display: flex;
        column-gap: 110px;
        list-style-type: none;
        margin: 0;
        padding: 0;

        &_item {
            display: flex;
            align-items: center;

            a,
            &-text {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                color: #fff;
                transition: 0.4s ease-in-out;
                display: flex;
                align-items: center;
                column-gap: 10px;
                padding: 8px 0;

                svg {
                    color: #D3101F;
                    width: 19px;
                    height: 24px;
                }

                &:hover {
                    color: #D3101F;
                }
            }

            &-text {
                cursor: default;

                &:hover {
                    color: #fff;
                }
            }

            a {
                cursor: pointer;

                &:hover {
                    color: #D3101F;
                }
            }
        }
    }

    &__open {
        display: none;
        cursor: pointer;
    }

    &__close {
        display: none;
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 10;
        cursor: pointer;
    }
}

@media (max-width: 1600px) {
   .header {
     &__list {
        column-gap: 52px;
    }
   }
}


@media (max-width: 1400px) {
    .header {
        // padding: 20px 40px;

        &__nav {
            column-gap: 40px;


        }

        &__list {
            column-gap: 55px;
        }
    }
}

@media (max-width: 1100px) {
    .header {
        padding: 20px 20px;

        &__nav {
            column-gap: 30px;

            &-list {
                column-gap: 30px;
            }
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__logo {
            display: none;

            &-mobile {
                display: block;
            }
        }

        &__open {
            display: block;
        }

        &__close {
            display: block;
        }

        &__nav {
            position: fixed;
            top: 0;
            right: -100%;
            width: 300px;
            height: 100vh;
            background-color: #000;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0px 30px;
            padding-top: 200px;
            transition: right 0.3s ease-in-out;
            z-index: 10;

            &_locate {
                margin-top: 40px;
            }
        }

        &__overlay {
            width: 100%;
            height: 100vh;
            background-color: #000000a9;
            position: absolute;
            z-index: 9;
            left: 0;
            top: 0;
            animation: overlay 1s;
        }

        &__list {
            flex-direction: column;
            column-gap: 0;
            row-gap: 24px;
            width: 100%;

            &_item {

                a,
                &-text {
                    padding: 12px 0;
                    font-size: 16px;
                }
            }
        }

        &__nav.active {
            right: 0;
        }

        &__close {
            display: block;
        }

        &__hamburger.active {
            span:nth-child(1) {
                transform: rotate(45deg) translate(6px, 6px);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        padding: 15px 15px;

        &__logo {
            width: 150px;
            height: 45px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__nav {
            width: 60%;
        }

        &__close {
            right: 20px;
            top: 20px;
        }
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}