@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Thin.ttf');
  src: local('Montserrat Thin'), local('Montserrat-Regular'),
    url('./Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-ExtraLight.ttf');
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('./Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Light.ttf');
  src: local('Montserrat Light'), local('Montserrat-Light'),
    url('./Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Regular.ttf');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Medium.ttf');
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('./Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-SemiBold.ttf');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('./Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Bold.ttf');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('./Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("./avenir-next-regular/AvenirNextCyr-Regular.woff2");
  font-weight: normal;
}