.quest {
    // padding: 100px 70px;
    padding: 100px 75px;

    // .container {
    //     width: 93%;
    //     display: block;
    //     margin: 0 auto;
    // }

    &__wrapper {
        display: flex;
        column-gap: 50px;
        margin-top: 50px;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 55%;

        &_title {
            font-size: 40px;
            padding-bottom: 40px;
            text-transform: uppercase;
            color: red;
            font-weight: 900;
            margin: 0 !important;
        }

        &_text {
            padding-top: 40px;

            &-descr {
                width: 90%;
                color: #D5D5D5;
                font-size: 20px;
                padding-top: 20px;
                line-height: 160%;
                margin: 0 !important;
            }
        }

        &_block {
            column-gap: 30px;
            row-gap: 50px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 40px 0;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;

            &-item {
                width: 45%;

                &_title {
                    font-size: 20px;
                    color: #ffffffb2;
                    font-weight: 300;
                    margin: 0 !important;
                }

                &_descr {
                    font-size: 24px;
                    color: #ffffff;
                    font-weight: 700;
                    padding-top: 10px;
                    margin: 0 !important;
                }

                img {
                    margin-top: 10px;
                }
            }
        }
    }

    &__images {
        max-height: 1500px;
        overflow-y: auto;
        width: 61%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        // padding: 0 20px;

        &::-webkit-scrollbar {
            width: 0px;
        }

        &_block {
            width: 100%;
            height: auto;
            min-height: 300px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &-images {
        display: none;

        &__mobile {
            width: 100%;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 12px;

        &-link {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 18px;
            text-decoration: none;
            transition: all .4s ease-in-out;

            &:hover {
                color: #d3101f;
            }
        }

        &-separator {
            color: #FFFFFF;
            font-size: 30px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            margin-top: -2px;
        }

        &-current {
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.3);
            cursor: pointer;
            transition: all .4s ease-in-out;

            &:hover {
                color: rgba(255, 255, 255, 0.641);
            }
        }
    }

    // Адаптив

    @media (max-width: 1600px) {
        &__images {
            width: 58%;
        }
    }

    @media (max-width: 1500px) {
        &__images {
            width: 58%;
        }
    }

    @media (max-width: 1540px) {
        &__images {
            width: 55%;
        }
    }

    @media (max-width: 1200px) {
        // padding: 80px 0px;

        &__wrapper {
            flex-direction: column-reverse;
            row-gap: 40px;
        }

        &__info {
            width: 100%;

            &_title {
                font-size: 29px;
                padding-bottom: 30px;
            }

            &_block {
                grid-template-columns: repeat(2, 1fr);
                gap: 25px;
                padding: 30px 0;
            }
        }

        &__images {
            width: 100%;
            max-height: none;
            overflow-y: visible;
            padding: 0;
            display: none;
        }


        &-images {
            display: flex;
        }

        &__navigation {
            margin-top: 20px;
        }
    }

    @media (max-width: 1100px) {
        padding: 100px 28px;
    }

    @media (max-width: 992px) {
        &__info {
            &_block {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__images {
            width: 100%;
            display: none;
        }

        &-images {
            display: flex;
        }


    }

    @media (max-width: 768px) {
        // padding: 80px 0px;

        &__wrapper {
            margin-top: 30px;
            row-gap: 30px;
        }

        &__info {
            &_title {
                font-size: 28px;
                padding-bottom: 25px;
            }

            &_text {
                padding-top: 30px;

                &-descr {
                    font-size: 16px;
                    padding-top: 15px;
                }
            }

            &_block {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-auto-rows: auto;
                gap: 20px;
                padding: 25px 0;

                &-item {
                    &_title {
                        font-size: 18px;
                    }

                    &_descr {
                        font-size: 22px;
                        padding-top: 15px;
                    }
                }
            }
        }

        &__images {
            row-gap: 15px;

            &_block {
                min-height: 250px;
            }
        }

        &__navigation {
            gap: 10px;
            display: none;

            &-link {
                font-size: 16px;
            }

            &-separator {
                font-size: 26px;
                margin-top: -1px;
            }

            &-current {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 70px 20px;

        &__info {
            &_title {
                font-size: 24px;
                padding-bottom: 20px;
            }

            &_text {
                &-descr {
                    font-size: 14px;
                    line-height: 150%;
                }
            }

            &_block {
                gap: 15px;
                padding: 20px 0;

                &-item {
                    &_title {
                        font-size: 14px;
                    }

                    &_descr {
                        font-size: 16px;
                        padding-top: 10px;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }

        &__images {
            &_block {
                min-height: 200px;
            }
        }


        &__navigation {
            gap: 8px;
            display: none;

            &-link {
                font-size: 14px;
            }

            &-separator {
                font-size: 22px;
                margin-top: 0;
            }

            &-current {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 360px) {
        padding: 60px 15px;

        &__info {
            &_block {
                gap: 12px;
                padding: 15px 0;
            }
        }

        &__images {
            row-gap: 12px;

            &_block {
                min-height: 180px;
            }
        }
    }
}